@charcet 'UTF-8';

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
   background-size:cover;
    background-repeat: no-repeat;
   background-attachment:fixed
}
.boton{
    position: fixed;
}
.home > img{
    width: 7vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    margin-left:90vw;
}
.you>img{
    width: 7vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    margin-left: 90vw;
}
.git>img{
    width: 7vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-right: 0vw;
    margin-bottom: 1vw;
    margin-left: 90vw;
}
.insta>img{
    width: 7vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-right: 0vw;
    margin-bottom: 1vw;
    margin-left: 90vw;
}
.face>img{
    width: 7vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-right: 0%;
    margin-bottom: 1vw;
    margin-left: 90vw;
}
.home :hover{
    transform: scale(1.2, 1.1);
}
.you :hover{
    transform: scale(1.2, 1.1);
}
.git :hover{
    transform: scale(1.2, 1.1);
}
.insta :hover{
    transform: scale(1.2, 1.1);
}
.face :hover{
    transform: scale(1.2, 1.1);
} 
.phone>img{
    width: 30vw;
    height: 60vw;
    margin-top: -30vw;
    margin-right: 0%;
    margin-bottom: 0vw;
    margin-left: 30vw;
    position: fixed;
}

